<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sk.mmi.mpzspz"
    android:versionCode="2"
    android:versionName="2.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <activity 
            android:name=".MpzActivity"            
            android:label="@string/title_MpzActivity" />
                
        <activity
            android:name=".SpzActivity"            
            android:label="@string/title_SpzActivity"  />                
        <activity
            android:name=".SpzIntroActivity"            
            android:label="@string/title_SpzIntroActivity"  />
       
        <activity
            android:name="sk.mmi.mpzspz.SpzDetailActivity"
            android:label="@string/title_spz_detail_activity"
            android:parentActivityName="sk.mmi.mpzspz.SpzActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="sk.mmi.mpzspz.SpzActivity" />
        </activity>               
                 
        <activity
            android:name="sk.mmi.mpzspz.MpzDetailActivity"
            android:label="@string/title_mpz_detail_activity"
            android:parentActivityName="sk.mmi.mpzspz.MpzActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="sk.mmi.mpzspz.MpzActivity" />
        </activity>
        
        <activity
            android:name="sk.mmi.mpzspz.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
